.card-square.mdl-card {
/*  width: 320px;
  height: 320px;
*/
  min-height: 320px;

}
.card-square > .mdl-card__title {
  color: #fff;
}

.card-square > .mdl-card__supporting-text {
  font-size: 14px;
}

.resume-card-content {
  border-radius: 2px;
  padding: 80px 56px;
  margin-bottom: 80px;
}

.resume-card-layout.is-small-screen .resume-card-content {
  padding: 40px 28px;
}

.resume-card-content h3 {
  margin-top: 48px;
}
