.layout-transparent {
  background: url(images/sf_grey.jpg) center / cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
  your background is light. */
  color: white;
}

.center {
  margin: auto;
  width: 80%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.center-card {
  margin: auto;
}