<ul class="paginator">
  <% if @paginator.prev_page %>
    <% prev_link = path_to_page(@paginator.prev_page, @tag) %>
    <a class="mdl-button prev" href="<%= prev_link %>">&#171;</a>
  <% end %>


  <% @paginator.pages.each do |page| %>
    <% page_class = 'mdl-button' %>
    <% page_class << ' pure-button-active' if @paginator.page == page %>

    <%= link_to page, path_to_page(page, @tag), class: page_class %>
  <% end %>


  <% if @paginator.next_page %>
    <% next_link = path_to_page(@paginator.next_page, @tag) %>
    <a class="mdl-button prev" href="<%= next_link %>">&#187;</a>
  <% end %>
</ul>
