<div class="">
  <%= render partial: 'blogo/posts/post_header', locals: {post: post} %>

  <div class="content">
    <%= raw post_overview(post) %> ...
  </div>

  <%= link_to t('Read More'), blogo_post_path(post), class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
  <hr>
</div>
