
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.mdl-layout__content {
  /*background: url(images/sf.jpg) center / cover;*/
  /*background: url(images/sf_grey.jpg) center / cover;*/
  /*background: #757575;*/
}

.layout-transparent {
  background: asset-data-url("sf.jpg") center / cover;
}

.mdl-layout__drawer {
/*  background: #64B5F6;
*/}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
  your background is light. */
  color: white;
}

.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.center-card {
  margin: auto;
}

figure {
  float: right;
  margin-bottom: 3em;
  max-height: 200px;
  width: 300px;
}

figure img {
  max-height: 100%;
  max-width: 100%;
}

@media screen and (max-width: 1024px) {
  figure {
    width: 200px;
  }

  .center{
    width: 100% !important;
  }
}

@media screen and (max-width: 850px) {
  figure {
    float: none;
    margin-bottom: 16px;
    margin-top: 0;
    width: auto;
  }

}
