.bomberman-project {
  background: asset-data-url("bombermanclone.png") no-repeat; 
  background-size:cover;
}

.simplecalculator-project {
  background: asset-data-url("simplecalculator.png") no-repeat;
  background-size:cover;
}

.tankvstank-project {
  background: asset-data-url("tankvstank.png") no-repeat; 
  background-size:100% 100%;
}

.java-project {
  background: url("java.png") no-repeat #46B6AC; 
  background-size:100% 100%;
}