<div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp overflow-fab-button">
  <div class="about-section mdl-card__supporting-text centering">
    <div class="resume-card-crumbs mdl-color-text--grey-500">
      Suhan &gt; AuWifi &gt; Disclaimer
    </div>
    <h1>DISCLAIMER</h1>
    <h3 id="university">
      Updated as at [2017-06-06]
      <br>
    </h3>
    <h4>GENERAL</h4>
    <h5>
      1. Welcome to [AuWifi] (“the Application”).
    </h5>
    <h5>
      2. The Application is brought to you by [AuWiFi] (“the Company”)
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>CONTENTS ON THE APPLICATION</h4>
    </p>


    <h5>
      3. All information contained, posted and/or displayed on the application is for information purposes and
      entertainment only.
    </h5>
    <h5>
      4. The Company is not and will not be liable, either expressly or in an implied manner, and is not responsible
      for
      any physical and/or emotional problems that may and/or could occur from any of the information on the
      application.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>DISCLAIMER OF WARRANTIES</h4>
    </p>
    <h5>
      5. You agree that use of the application is at your sole risk. All information and content are provided on an
      "as is" and "as available" basis.
    </h5>
    <h5>
      7. The Company does not guarantee the application to be error-free, secure, continuously available or free of
      viruses or other harmful components.
    </h5>
    <h5>
      8. You also agree that if you rely on any data or information obtained through the application, you do so at
      your own risk. You are solely responsible for any damage or loss that results from your use of any material
      and/or data.
    </h5>
    <h5>
      9. The Company and the contents and/or information on the application are provided with the understanding that
      neither the Company nor its users, while such users are participating in the application, are engaged in
      rendering legal, medical, counselling or other professional services or advice. The contents and/or information
      on the Application are not substitute for professional services or advice.
    </h5>
    <h5>
      10. The Company, its affiliates, agents, and licensors make no warranty regarding any goods or services referred
      to, advertised on, or obtained through the application, other than those express warranties the Company itself
      specifically makes.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>LIMITATION OF LIABILITY</h4>
    </p>
    <h5>
      11. Under no circumstances will the Company or its affiliates, agents or licensors be liable to you or anyone
      else for including but not limited to any loss and/or damages arising out of your use of any of the application,
      including, without limitation, liability for consequential, special, incidental, indirect, or similar damages,
      even if we are advised beforehand of the possibility of such damages.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>INDEMNIFICATION</h4>
    </p>
    <h5>
      12. In the event that the Company becomes a party to any third party proceedings, you agree to indemnify, defend
      and hold harmless, without limitations, the Company, its officers, directors, employees, agents and third
      parties, for any losses, costs, liabilities and expenses (including reasonable attorneys’ fees) relating to or
      arising out of without limitations, the negligence, fault, mistake, misrepresentation and/or fraud of third
      party.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text">
    <br>
    Effective as of [2017-06-06]
  </div>
</div>




