<div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp overflow-fab-button">
  <div class="about-section mdl-card__supporting-text centering">
    <div class="resume-card-crumbs mdl-color-text--grey-500">
      Suhan &gt; AuWifi &gt; Privacy Policy
    </div>
    <h1>PRIVACY POLICY</h1>
    <h3>
      Updated as at [2017-06-06]
      <br>
    </h3>
    <h4> INTRODUCTION </h4>
    <h5>
      1. Welcome to [AuWifi] (“the Application”).
    </h5>
    <h5>
      2. [AuWifi] is provided to you by [AuWifi] (“the Company”). The Application is owned and operated by [Suhan
      Koh] and
      the Application can be found on the Google Play Store.
    </h5>
    <h5>
      3. For the purposes of this Privacy Policy, unless otherwise specified, all references to [AuWifi] include
      the
      Company, the Application and/or its associated products.
    </h5>
    <h5>
      4. Your privacy on the Application is of the utmost importance to us. We may share your personal
      information
      with third parties, therefore since we may gather certain types of information about our users, we feel you
      should
      fully understand our policy and the terms and conditions surrounding the capture and use of that information.
      This privacy
      statement discloses what information we gather and how we use it.
    </h5>
    <h5>
      5. The private information you provide on the Application will be used only for its intended purpose.
    </h5>
    <h5>
      6. By using the Application, you consent to the data practices described hereinafter.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>PERSONAL INFORMATION</h4>
    </p>
    <h5>
      7. As a general rule, the Company and/or the Application does not collect personal information about you when
      you visit and/or use the Application, unless you choose to provide such information to us. Submitting personal
      information
      through the Application is voluntary. By doing so, you are giving the Company your permission to use the
      information
      for the stated purpose. However, not providing certain information may result in the Company and/or the
      Application
      (as the case may be) the inability to provide you with the full experience of the Application.
    </h5>
    <h5>
      8. If you choose to provide us with personal information on the Application, methods will include but not
      limited to, signing up and registering an account on the Application.
    </h5>
    <h5>
      9. We may also use the personal information without limitations to, respond to any of your feedback(s).
      The information we may receive from you varies based on what you do when operating the Application.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>COLLECTION OF PERSONAL INFORMATION</h4>
    </p>
    <h5>
      10. By completing and registering, on the Application and/or with the Company, you may provide basic
      information
      such
      as including but not limited to, your name, phone number, address and email address which allows us to send
      information, provide updates and/or provide you with the feature in the Application.
    </h5>
    <h5>
      11. The Company encourages you to review the privacy statements of links you choose to link to from the
      Application so
      that you can understand how those links collect, use and share your information (“Third Party Links”). The
      Company is
      not responsible for the privacy statements or other contents on the Third Party Links outside of the
      Application.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>THE NATURE OF PERSONAL INFORMATION WE COLLECT</h4>
    </p>
    <h5>
      12. Personal information we collect which you may provide to us includes, inter alia:-
    </h5>
    <h5>
      12.1 ‘Identifying information’ (i.e. name, date and place of birth, gender, age);
    </h5>
    <h5>
      12.2 ‘Contact information’ (i.e. mobile phone numbers);
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>COLLECTION OF PERSONAL INFORMATION</h4>
    </p>
    <h5>
      10. By completing and registering, on the Application and/or with the Company, you may provide basic
      information
      such
      as including but not limited to, your name, phone number, address and email address which allows us to send
      information, provide updates and/or provide you with the feature in the Application.
    </h5>
    <h5>
      11. The Company encourages you to review the privacy statements of links you choose to link to from the
      Application so
      that you can understand how those links collect, use and share your information (“Third Party Links”). The
      Company is
      not responsible for the privacy statements or other contents on the Third Party Links outside of the
      Application.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>AUTOMATICALLY COLLECTED INFORMATION</h4>
    </p>
    <h5>
      14. We collect and temporarily store certain information about your usage of the Application.
      The information includes, inter alia :-
    </h5>
    <h5>14.1 The type of mobile device you use;</h5>
    <h5>14.2 The unique device ID of your mobile device;</h5>
    <h5>14.3 The IP address of your mobile device;</h5>
    <h5>14.4 The operating system of you mobile device; and</h5>
    <h5>14.5 The type of mobile internet browsers of your device.</h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>LOCATION DATA COLLECTION</h4>
    </p>
    <h5>
      15. For the purpose of this policy, location data is defined as “any data processed in an electronic
      communication
      network or by an electronic communications service indicating the geographical position of the terminal
      equipment of a
      user of a public electronic communications service, including data relating to (1) the latitude, longitude or
      altitude
      of the terminal equipment, (2) the direction of travel of the user (3) or the time the location information
      was
      recorded.
    </h5>
    <h5>
      16. The Company is not a public communication provider and the Company does not collect your location data
      without
      your prior approval and consent.
    </h5>
    <h5>
      17. In the event that the Company requires the collection of your location data, we will inform you of the
      followings :-
    </h5>
    <h5>
      (a) the type of location data the Company will be processing,
      <br>
      (b) the reason we need to collect such data,
      <br>
      (c) the duration to which the data is kept by the Company for; and
      <br>
      (d) whether it will be passed to a third party.
    </h5>
    <h5>
      18. Generally, the Company will only obtain your location data for the performances of the Services and such
      location
      data will adhere to the same rule and regulation with other provisions of this privacy policy.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>USE OF YOUR PERSONAL INFORMATION</h4>
    </p>
    <h5>
      19. The Company collects and uses your personal information to operate the Application and deliver the
      experience to the Application.
    </h5>
    <h5>
      20. The Company does not sell, rent or lease its customer list to third parties.
    </h5>
    <h5>
      21. The Company may, from time to time, contact you about a particular offering that may be of interest to
      you.
      <br>
      In those cases, your personal information (i.e. email, name, address, telephone number) is transferred to the
      third party.
    </h5>
    <h5>
      22. The Company through the Application may share data between/with Third Parties to help perform
      statistical
      analysis, send you email and/or provide customer support (“the Services”). All such Third Parties are
      prohibited from using your personal information except to provide the Services to the Company and they are
      required to
      maintain the confidentiality of your information.
    </h5>
    <h5>
      23. The Company and/or the Application (as the case may be) may keep track of the application and users
      visit
      within
      the Application, in order to determine the popularity of the Application. The data is used to deliver
      customized
      content and advertising within the Application to customers whose behaviour indicates they are interested in a
      particular subject area.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>DISCLOSURE OF YOUR PERSONAL INFORMATION</h4>
    </p>
    <h5>
      24. The personal information you provide to us whether voluntarily or automatically as the foregoing
      paragraphs
      describes, may be used and disclosed without limitations, to our employees, staffs, insurers, professionals,
      agents,
      suppliers, subcontractors and/or other parties we deem fit for the purpose and in the manner reasonably
      necessary for
      the carrying out of the Application and for purposes set out in this Privacy Policy.
    </h5>
    <h5>
      25. Personal information may be disclosed to the Third Parties. When personal information is disclosed all
      terms and
      conditions contained herein shall have effect for the purpose of protecting your personal information.
    </h5>
    <h5>
      26. Compliance with legal requirements for the enforcement of law, regulations, court orders, subpoena,
      warrant during
      the course of a legal proceedings or otherwise may render our need to disclose personal information.
    </h5>
    <h5>
      27. Personal information may also be used to protect and safeguard the copyright, trademarks, legal rights,
      intellectual property rights or safety of the Application and/or the Company.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>SECURITY OF YOUR PERSONAL INFORMATION</h4>
    </p>
    <h5>
      28. The Company secures your personal information from unauthorized access, use or disclosure.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>CHILDREN UNDER THIRTEEN</h4>
    </p>
    <h5>
      29. The Company does not knowingly collect personal information from children under the age of thirteen. If
      you are
      under the age of thirteen, you must ask your parent or guardian for permission to use this Application.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>OPT-OUT & UNSUBSCRIBE</h4>
    </p>
    <h5>
      30. The Company respects your privacy. In the event that you would like to opt-out of using the Application,
      you are
      hereby advised to cease using the Application.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>CHANGES</h4>
    </p>
    <h5>
      31. The terms contained in this Privacy Policy may change and subject to modification and amendments. All
      modifications and the time of the changes and modification will be subject to the sole direction of the
      Company and
      such changes will have immediate effect. No notice will be given to you prior to such changes and/or
      modifications;
      you are therefore advised to review our Privacy Policy from time to time.
    </h5>
  </div>
  <hr>

  <div class="about-section mdl-card__supporting-text centering">
    <p>
    <h4>CONTACT</h4>
    </p>
    <h5>
      32. The Company welcomes your questions or comments regarding the foregoing Terms.
      <br>
      Please find us at
      ‘<a href="mail&#116;o&#58;%73uha&#37;&#54;Eko&#104;&#64;g&#109;&#97;i&#108;&#46;co&#109;?Subject=Hello">Email</a>’.
    </h5>
  </div>
  <hr>
  <div class="about-section mdl-card__supporting-text">
    <br>
    Effective as of [2017-06-06]
  </div>
</div>
